<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jun.boardProject.dao.BoardDao">
	<select id="allBoardPage" resultType="com.jun.boardProject.vo.Board">
		SELECT 
		       B.BOARD_NO boardNo,
		       M.USER_NAME userName,
		       B.USER_NO userNo,
		       B.BOARD_TITLE boardTitle,
		       B.BOARD_WRITING boardWriting,
		       B.BOARD_HITS boardHits,
		       B.BOARD_DATE boardDate,
		       B.CATEGORY_NO categoryNo
		  FROM 
		       BOARD B 
		  LEFT OUTER JOIN MEMBER M ON B.USER_NO = M.USER_NO
	</select>
</mapper>